# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
*.env

# Django settings
# Exclude local settings if separated
local_settings.py

# Secret keys and sensitive files
*.key

# Database files
db.sqlite3
*.db

# Static and media files
# Exclude locally generated static and media files
staticfiles/
media/

# Logs
*.log

# IDE and editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
.coverage
*.coverage
.cache

# Python packaging
*.egg
*.egg-info/
dist/
build/
