{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Protected</title>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" />
	</head>
	<body>
		<div class="container">
			<h2>Protected Page</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, sit sapiente quia
				esse odit minima aut commodi? Perspiciatis, corrupti amet et nemo debitis optio!
				Animi dolore in exercitationem ea veniam.
			</p>
			<a href="{% url 'home' %}">Home</a>
			<!-- Fixed URL tag syntax -->
		</div>
	</body>
</html>
